{% extends 'base.html.twig' %}

{% block stylessheets %}
    {{ parent()}}
    <link href="../public/css/style.css" rel="stylesheet">
{% endblock %}
{% block body %}

{% for article in articles %}
    <article>
        <div class="card article">
            <h2>{{ article.title }}</h2>
            <div class="metadata"> Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie Politique</div>
            <div class="content" style="display:flex;flex-direction:column">
                <img src="{{ article.image }}" alt="">
                {{ article.content }}
                <a href="{{ path('blog_show', {'id':article.id}) }}" class="btn btn-parimary"> Lire la suite</a>
            </div>
        </div>
    </article>
{% endfor %}
{% endblock %}
